
/** ALL **/
p{
	text-align:justify;
}

/** CAROUSEL **/
.carousel_button{
	margin-top:250%;
}

/** NEWS/EVENTS **/
.events a{
	color:white;
}

.events a:hover{
	color:white;
	text-decoration:none;
	border-bottom:1px solid white;
}


/** FOOTER **/
.footer a{
	color:white;
}

.footer a:hover{
	color:white;
	text-decoration:none;
	border-bottom:1px solid red;
}

/** PRINCIPALS/PARTNERS **/
.partners{
	background-color:#dddddd;
}


#p1{
	background:url('../img/principals_nc.png') 0px 0px;
	width:390px;
	height:100px;
}

#p1:hover{
	background-image:url('../img/principals_wc.png');
}

#p2{
	background:url('../img/principals_nc.png') 390px 0px;
	width:130px;
	height:100px;
}

#p2:hover{
	background-image:url('../img/principals_wc.png');
}

#p3{
	background:url('../img/principals_nc.png') 260px 0px;
	width:130px;
	height:100px;
}

#p3:hover{
	background-image:url('../img/principals_wc.png');
}

#p4{
	background:url('../img/principals_nc.png') 0px 100px;
	width:130px;
	height:100px;
}

#p4:hover{
	background-image:url('../img/principals_wc.png');
}

#p5{
	background:url('../img/principals_nc.png') 650px 100px;
	width:130px;
	height:100px;
}

#p5:hover{
	background-image:url('../img/principals_wc.png');
}

#p6{
	background:url('../img/principals_nc.png') 520px 100px;
	width:130px;
	height:100px;
}

#p6:hover{
	background-image:url('../img/principals_wc.png');
}

#p7{
	background:url('../img/principals_nc.png') 390px 100px;
	width:130px;
	height:100px;
}

#p7:hover{
	background-image:url('../img/principals_wc.png');
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 750px) {
	/** CAROUSEL **/
	.carousel_header h1{
		-webkit-text-stroke: 1px #f97412;
		font-weight: bold; text-shadow: 0 1px 2px rgba(68,68,68,0.5); font-size:35px; color:#fc3616; text-align:right;
	}

	.carousel_header h3{
		-webkit-text-stroke: 1px #444444;
		font-weight: bold; font-size:15px; color:#ffffff; text-align:right;
	}
}

@media (min-width: 750px) {
	/** CAROUSEL **/
	.carousel_header h1{
		-webkit-text-stroke: 1px #f97412;
		font-weight: bold; text-shadow: 0 1px 2px rgba(68,68,68,0.5); font-size:45px; color:#fc3616; text-align:right;
	}

	.carousel_header h3{
		-webkit-text-stroke: 1px #444444;
		font-weight: bold; font-size:20px; color:#ffffff; text-align:right;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/** CAROUSEL **/
	.carousel_header h1{
		-webkit-text-stroke: 1px #f97412;
		font-weight: bold; text-shadow: 0 1px 2px rgba(68,68,68,0.5); font-size:60px; color:#fc3616; text-align:right;
	}

	.carousel_header h3{
		-webkit-text-stroke: 1px #444444;
		font-weight: bold; font-size:30px; color:#ffffff; text-align:right;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/** CAROUSEL **/
	.carousel_header h1{
		-webkit-text-stroke: 1px #f97412;
		font-weight: bold; text-shadow: 0 1px 2px rgba(68,68,68,0.5); font-size:80px; color:#fc3616; text-align:right;
	}

	.carousel_header h3{
		-webkit-text-stroke: 1px #444444;
		font-weight: bold; font-size:35px; color:#ffffff; text-align:right;
	}
}